table {
  border-bottom: 1px solid deeppink;
  border-collapse: collapse;
  thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-right: 5px;
  }
  tbody {
    padding-right: 1px;
    display: block;
    height: 300px;
    overflow-y: auto;
    margin-right: -10px;
    overflow-x: hidden;
    tr {
      display: table;
      width: 100%;
      &:last-child td {
        border-bottom: 0;
      }
      td {
        border-top: 0;
      }
    }
    &::-webkit-scrollbar-track {
      border-radius: 555px;
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: 10px;
      border-radius: 555px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      height: 56px;
      border-radius: 8px;
      background-color: #a4a4a4;
      border: 1px solid transparent;
      background-clip: content-box;

      &:hover {
        background-color: #8c8c8c;
      }
    }
  }
  tr {
    td {
      border: 1px solid deeppink;
      padding: 10px 20px;
    }
  }
}
